page-my-friends {
    #myFriends-list ion-item-sliding, #myFriends-list ion-item-sliding .item {
        background-color: transparent;
        
        .item-inner {
            border: none;
        }

    }

    #button-search>span>ion-icon{
        color: color($colors, greened, base);
    }
}
