<ion-header>
  <ion-navbar hideBackButton="true">
    <ion-buttons start>
      <button id="round-help-button" ion-button icon-only (click)="presentPopover($event)">
          <ion-icon name="help-circle"></ion-icon>
        </button>
    </ion-buttons>
    <ion-title>
      <div class="title-round">
        Round {{round.number}}
      </div>
      <div class="title-question">
        Question {{currentQuestion.number}}
      </div>
    </ion-title>
    <ion-buttons end>
        <button ion-button id="hidden-timeout">
            <countdown [config]="{leftTime: time}"
                        (finished)="onTimerFinished()">$!s-ext!</countdown>
          </button>
    </ion-buttons>
  </ion-navbar>
  <div class="timeout-line" [@timeoutLine]="timeoutLineState"></div>
</ion-header>
<ion-content padding id="page8">
  <div id="round-question-desc" class="show-list-numbers-and-dots">
    <div class="question-text">
        {{currentQuestion.description}}
    </div>
    
  </div>


  <form id="round-answers">
    <button ion-button primary block small color="secondary"
        on-click="selectAnswer(answer)" 
        [@answerSelected]="answer.selectedState"
        *ngFor="let answer of currentQuestion.answers">
      {{answer.description}}
    </button>
    <p #popoverContent></p>
  </form>

  <div id="overflow" *ngIf="nextQuestionButtonState === 'displayed'"></div>

  <button id="next-question-button" ion-button large color="primary"
      [@nextQuestionButton]="nextQuestionButtonState"
      (click)="showNextQuestion($event)">
    Next question
  </button>
</ion-content>