// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #6ea0da;
  --ion-color-primary-rgb: 110, 160, 218;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #618dc0;
  --ion-color-primary-tint: #7daade;

  --ion-color-secondary: #255599;
  --ion-color-secondary-rgb: 37, 85, 153;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #214b87;
  --ion-color-secondary-tint: #3b66a3;

  --ion-color-tertiary: #655497;
  --ion-color-tertiary-rgb: 101, 84, 151;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #594a85;
  --ion-color-tertiary-tint: #7465a1;

  --ion-color-greened: #00a68b;
  --ion-color-greened-rgb: 0, 166, 139;
  --ion-color-greened-contrast: #ffffff;
  --ion-color-greened-contrast-rgb: 255, 255, 255;
  --ion-color-greened-shade: #00927a;
  --ion-color-greened-tint: #1aaf97;

  --ion-color-yellowed: #f8df62;
  --ion-color-yellowed-rgb: 248, 223, 98;
  --ion-color-yellowed-contrast: #000000;
  --ion-color-yellowed-contrast-rgb: 0, 0, 0;
  --ion-color-yellowed-shade: #dac456;
  --ion-color-yellowed-tint: #f9e272;

  --ion-color-danger: #bd2f3b;
  --ion-color-danger-rgb: 189, 47, 59;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #a62934;
  --ion-color-danger-tint: #c4444f;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-oranged: #eba23d;
  --ion-color-oranged-rgb: 235, 162, 61;
  --ion-color-oranged-contrast: #000000;
  --ion-color-oranged-contrast-rgb: 0, 0, 0;
  --ion-color-oranged-shade: #cf8f36;
  --ion-color-oranged-tint: #edab50;

  --ion-color-light: #eaeae8;
  --ion-color-light-rgb: 234, 234, 232;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #cececc;
  --ion-color-light-tint: #ececea;
}
