<ion-card-content class="round-card">
    <div>
    <ion-grid>
      <ion-row>
        <ion-col col-7 class="round-category">
            <div class="first">Round {{roundItem.number}}</div>
            <div class="second">{{roundItem.category}}</div>
        </ion-col>
        <hr class="vertical">
        <ion-col class="round-result">
          <div class="round-overview">
            <!--<div *ngFor="let e of roundItem.score.entries()" >
1
            </div>-->
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    </div>
</ion-card-content>