<ion-card>
    <ion-card-content class="game-card" [ngClass]="ngClass">
        <div (click)="onCardClick(item)">

            <ion-grid>
                <ion-row>
                    <ion-col class="round">
                        <div>Round</div>
                        <div>{{item.roundNumber}}</div>
                    </ion-col>
                    <hr class="vertical">
                    <ion-col size="7" class="info">
                        <div class="card-title">{{item.secondPlayer.fullName}}</div>
                        <div class="card-subtitle">10 minutes ago</div>
                    </ion-col>
                    <hr class="vertical">
                    <ion-col class="score">
                        <div>{{item.score}}</div>
                    </ion-col>
                </ion-row>
            </ion-grid>

        </div>
    </ion-card-content>
</ion-card>
